/*PIE DE PAGINA*/
/*.lista-footer li{
    display: inline-block;
}



.lista-footer li a{
    color: hsl(180, 50%, 98%);
}*/

.lista-footer{
    li{
        display: inline-block;
        a{
            color: hsl(180, 50%, 98%);
        }
    }
}